[user]
	email = monokesi4120@gmail.com
	name = arisin
[push]
	default = simple
[alias]
  push-current-branch = !git push origin `git rev-parse --abbrev-ref HEAD`
[color]
	ui = true
[merge]
	tool = meld
[core]
	editor = vim --noplugin -Z
	excludesfile = ~/.gitconfig.d/.gitignore
