/*
/.*

!/.gitignore

!/.gitconfig
!/.emscripten
!/.xmodmaprc
!/.zshrc
!/.zshrc.d
!/.vimrc
!/.vimrc.d
!/.gvimrc
!/.qvimrc
!/.astylerc
!/.astylerc
!/.colorgcc
!/.gemrc
!/.vimperatorrc
!/.byobu
!/.Rprofile
!/README.md

!/.gconf

!/opt

!./zprofile
!./profile
