[user]
	email = usagi@WonderRabbitProject.net
	name = Usagi Ito
[push]
	default = simple
[alias]
  submodule-update-init-recursive = !git submodule update --init --recursive
  push-current-branch = !git push origin `git rev-parse --abbrev-ref HEAD`
	merge-no-ff = merge --no-ff
[color]
	ui = true
[merge]
	tool = meld
[core]
	editor = vim --noplugin -Z
	excludesfile = ~/.gitconfig.d/.gitignore
	quotepath = false
[gui]
	spellingdictionary = none
