/*
/.*

!/.gitignore

!/.emscripten
!/.xmodmaprc
!/.zshrc
!/.vimrc
!/.gvimrc
!/.qvimrc
!/.astylerc
!/.astylerc
!/.colorgcc
!/.gemrc
!/.vimperatorrc
!/.Rprofile
!/README.md

!/.gconf/apps/gnome-terminal/profiles/Default

!/opt

